# flyctl launch added from .gitignore
**\node_modules
**\.env
**\*.sqlite
**\*.db
**\cache
**\dist
**\build

# flyctl launch added from backend\.gitignore
backend\**\node_modules
backend\**\.env
backend\**\npm-debug.log*
backend\**\package-lock.json
fly.toml
