# fly.toml app configuration file generated for lobodogreen-backend on 2025-12-20T21:06:27-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'lobodogreen-backend'
primary_region = 'gru'

[build]
  builder = 'paketobuildpacks/builder:base'

[env]
  NODE_ENV = 'production'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
